  <table class="zebra-striped" id="stocks_content">
    <thead>
      <tr>
        <th>Short Name</th>
        <th>Full Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @stocks.each do |stock| %>
      <tr>
        <td>
          <%= stock.short_name %>
        </td>
        <td>
          <%= stock.full_name %>
        </td>
        <td>
          <%= link_to 'Show', stock_path(stock) %>
        </td>
        <td>
          <%= link_to 'Edit', edit_stock_path(stock) %>
        </td>
        <td>
          <%= button_to 'Delete', stock_path(stock), :method => :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Stock', new_stock_path() %>
  <%= paginate @stocks, :remote => true %>
