<%= form_tag stocks_path, :method => 'get', :id => 'search', :remote => true do %>
  <p>
    <%= text_field_tag :query %>
    <%= submit_tag "簡稱/全名查詢", :name => nil %>
  </p>
  <p>
    <% @categories.each do |category| %>
      <%= radio_button_tag 'category', category.id %>
      <%= category.name %>
    <% end %>
    <%= submit_tag "分類查詢", :name => nil %>
<% end %>
<div id="stocks">
      <%= render :partial => 'list', :locals => { :stocks => @stocks } %>
</div>
