<p>
  <strong>
    Company number:
  </strong>
  <%= @stock.company_number %>
</p>
<p>
  <strong>
    Short name:
  </strong>
  <%= @stock.short_name %>
</p>
<p>
  <strong>
    Full name:
  </strong>
  <%= @stock.full_name %>
</p>
<p>
  <strong>
    Form date:
  </strong>
  <%= @stock.form_date %>
</p>
<p>
  <strong>
    Capitalization:
  </strong>
  <%= @stock.capitalization %>
</p>
<p>
  <strong>
    Product:
  </strong>
  <%= @stock.product %>
</p>
<p>
  <strong>
    Manage team:
  </strong>
  <%= @stock.manage_team %>
</p>
<p>
  <strong>
    Main shareowner:
  </strong>
  <%= @stock.main_shareowner %>
</p>
<p>
  <strong>
    First alphabet:
  </strong>
  <%= number_to_alphabet(@stock.first_alphabet) %>
</p>
<p>
  <strong>
    Second alphabet:
  </strong>
  <%= number_to_alphabet(@stock.second_alphabet) %>
</p>
<p>
  <strong>
    Emerging stock number:
  </strong>
  <%= @stock.emerging_stock_number %>
</p>
<p>
  <strong>
    Epaper:
  </strong>
  <%= @stock.epaper %>
</p>
<p>
  <strong>
    Remark:
  </strong>
  <%= @stock.remark %>
</p>
<p>
  <strong>
    Vat number:
  </strong>
  <%= @stock.vat_number %>
</p>
<p>
  <strong>
    Issue type:
  </strong>
  <%= @stock.issue_type %>
</p>
<p>
  <strong>
    Main business:
  </strong>
  <%= @stock.main_business %>
</p>
<p>
  <strong>
    Last approved date:
  </strong>
  <%= @stock.last_approved_date %>
</p>
<p>
  <strong>
    Chairman:
  </strong>
  <%= @stock.chairman %>
</p>
<p>
  <strong>
    General manager:
  </strong>
  <%= @stock.general_manager %>
</p>
<p>
  <strong>
    Kcc888 code:
  </strong>
  <%= @stock.kcc888_code %>
</p>
<p>
  <strong>
    Emerging date:
  </strong>
  <%= @stock.emerging_date %>
</p>
<p>
  <strong>
    Public offer date:
  </strong>
  <%= @stock.public_offer_date %>
</p>
<p>
  <strong>
    Counseling date:
  </strong>
  <%= @stock.counseling_date %>
</p>
<p>
  <strong>
    Listing date:
  </strong>
  <%= @stock.listing_date %>
</p>
<p>
  <strong>
    Otc date:
  </strong>
  <%= @stock.otc_date %>
</p>
<p>
  <strong>
    Stock type:
  </strong>
  <%= @stock.stock_type %>
</p>
<p>
  <strong>
    Accountant:
  </strong>
  <%= @stock.accountant %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %>
<%= button_to 'Delete', stock_path(@stock), :method => :delete %>
