<table class="zebra-striped">
  <thead>
    <tr>
      <th>分類名稱</th>
      <th>是否顯示</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= category.name %>
        </td>
        <td>
          <%= category.show? %>
        </td>
        <td>
          <%= link_to '顯示', category_path(category) %>
        </td>
        <td>
          <%= link_to '編輯', edit_category_path(category) %>
        </td>
        <td>
          <%= button_to '刪除', category_path(category), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '新增分類', new_category_path() %>
<%= paginate @categories %>
